<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.log_in">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRIRE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Travel app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
            <activity android:name=".Activities.DetailActivity"></activity>
            <activity android:name=".Activities.MainActivity" />
            <activity android:name=".Activities.SignupAcitivity" />
            <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SettingActivity" />
        <activity android:name=".Activities.UploadActivity" />
        <activity android:name=".Test" />
            <activity android:name=".Activities.StartActivity"
                android:exported="true"
                >
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

    </application>

</manifest>